/*! App styles for ivyringel.com  */
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

a {
  color: #009688; }
  a:hover {
    color: #00c9b6;
    text-decoration: none; }

.btn-primary {
  background-color: #009688 !important; }

.panel-heading {
  background-color: #484848 !important; }
  .panel-heading h4 {
    color: #fff;
    display: inline-block; }

.navbar-right {
  font-size: 16px !important; }

body {
  font-family: "Arimo";
  background: #c3c3c3; }

.site-container .site-background {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
  z-index: -1; }
.site-container .site-body {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 2px; }
  .site-container .site-body .container {
    width: 90% !important; }
  .site-container .site-body #navbar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    background-color: #009688;
    margin: 0;
    font-family: 'Crimson Text'; }
    .site-container .site-body #navbar .navbar-brand {
      color: #fff !important;
      font-size: 20px; }
    .site-container .site-body #navbar li a {
      color: #fff !important; }
  .site-container .site-body .footer-links {
    text-align: right;
    padding: 10px;
    padding-right: 30px; }
  .site-container .site-body .footer-author {
    padding: 10px;
    padding-left: 30px; }
  .site-container .site-body .footer-col {
    color: #fff; }
.site-container #footer {
  border-radius: 0 0 3px 3px;
  background: #484848;
  border: none;
  margin: 0; }

.navbar-default .navbar-nav > .active > a {
  background: #00635a !important; }

.jumbotron {
  background-image: url("../resources/concert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 425px;
  margin-bottom: 0; }

article {
  margin-bottom: 30px; }
  article p {
    font-size: 16px; }
    article p .first-char {
      float: left;
      color: #009688;
      font-size: 75px;
      line-height: 50px;
      font-family: Cr;
      padding-top: 8px;
      padding-right: 8px;
      padding-left: 3px; }

@media (max-width: 1023px) {
  #navbar {
    border-radius: 0; }

  .site-body {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 0 !important; }

  .jumbotron {
    height: 250px; }

  article > h1 {
    text-align: center; }

  .navbar-default .navbar-toggle .icon-bar {
    background: #fff !important; }

  #footer {
    border-radius: 0 !important;
    margin-bottom: 0 !important; }

  .footer-col {
    text-align: center !important;
    padding: 10px !important; } }
